:root {
  --color-dark-blue: #101828;
  --color-blue: #475467;
  --color-grey: #667085;
  --color-red: #e44848;
  --color-red-dark: #d84343;
  --color-yellow: #ffc531;
  --color-light-grey: #d0d5dd;
  --color-bg: #f7f7f7;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-dark-blue);
}

button {
  font: inherit;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}
